<div class='container-fluid' style="background-color: rgb(5,10,50);">
    <div class='row pt-3'>
            <app-current></app-current>
    </div>
    <app-continue-watching [input]='list'></app-continue-watching>>
    <div class='row pt-3'>
        <h1 class = 'offset-1' style = "font-size: 2rem; color: white;">Popular Movies</h1>
    </div>
    <div class="row pt-3">
        <app-popular-movies></app-popular-movies>
    </div>
    <div class='row pt-3'>
        <h1 class = 'offset-1' style = "font-size: 2rem; color: white;">Top Rated Movies</h1>
    </div>
    <div class="row pt-3">
        <app-top-movies></app-top-movies>
    </div>
    <div class='row pt-3'>
        <h1 class = 'offset-1' style = "font-size: 2rem; color: white;">Trending Movies</h1>
    </div>
    <div class="row pt-3">
        <app-trending-movies></app-trending-movies>
    </div>
    <div class='row pt-3'>
        <h1 class = 'offset-1' style = "font-size: 2rem; color: white;">Popular TV Shows</h1>
    </div>
    <div class="row pt-3">
        <app-pop-tv></app-pop-tv>
    </div>
    <div class='row pt-3'>
        <h1 class = 'offset-1' style = "font-size: 2rem; color: white;">Top Rated TV Shows</h1>
    </div>
    <div class="row pt-3">
        <app-top-tv></app-top-tv>
    </div>
    <div class='row pt-3'>
        <h1 class = 'offset-1' style = "font-size: 2rem; color: white;">Trending TV Shows</h1>
    </div>
    <div class="row pt-3">
        <app-trending-tv></app-trending-tv>
    </div>
</div>