<div class='row pt-3'>
  <div class = 'col-10 offset-1'>
    <h2 style = "color:white;">Reviews <span style='color:gray'>{{length}}</span></h2>
  </div>
</div>
<div class='contaner-fluid'>
  <div class='row mb-3' *ngFor='let review of reviews'>
    <div class='col-10 offset-1'>
      <div class='card'>
        <div class='row'>
          <div class='col-sm-2 pt-3' style='text-align: center;'>
            <img *ngIf='!mobile' [src]='review.path' class='img-fluid' width="60%" style='clip-path: circle(50% at center)'>
            <img *ngIf="mobile" [src]='review.path' class='img-fluid' width='20%' style='clip-path: circle(50% at center); position: relative; right:25%'>
          </div>
          <div class='col-sm-10 pl-sm-2'>
            <h1 style="font-size: 1.5rem;" class='pt-3 pl-2 pl-sm-0'>
              A review created by {{review.author}}<br *ngIf='mobile'>
              <span class='rating'>
                <i class="fas fa-star"></i>
                {{review.rating}}
              </span>
            </h1>
            <p style='color:gray; font-size: 1vw;' class='pl-2 pr-2 pl-sm-0 pr-sm-0'><br>written by {{review.author}} on {{ review.time | date: "MMMM d, y, h:mm:ss a" }}</p>
            <p class='content pl-sm-0 pr-sm-5 pr-2 pl-2' style='font-size: 1vw;'>{{review.content}}</p>
            <p class='pt-2 pb-3 pl-2 pl-sm-0'><a [href]='review.url' target="_blank"><u>Read the Rest</u></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>