<nav class="navbar navbar-expand-lg navbar-dark bg-danger" style="position: sticky; top:0; z-index:10">
  <a class="navbar-brand" routerLink="/" >USC Films</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/mylist' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">My List</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <app-typeahead-component></app-typeahead-component>
    </form>
  </div>
</nav>
